* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  height: 100vh;
  background: linear-gradient(to right, #AA076B,#61045F);
}

textarea:focus, input:focus{
  outline: none;
}